body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background: white;
    margin: 5px;
}

nav {
    height: 150px;
}

.container{
    background-color: aquamarine;
    width: 1200px;
}

footer{
    height: 100px;
}




