body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background: white;
    margin: 5px;
}

#home-button{
    color:#0d6efd;
}

nav {
    height: 150px;
}

footer{
    height: 100px;
}

ul.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal-list li {
    float: left;
    padding: 0 10px;
}




