body{
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background: white;
    margin: 5px;
}
#search-button{
    height:50px;
    width:90px;
    color:white;
    background: #0d6efd;
}
#home-button{
    color:#0d6efd;
}
label {
    display: inline-block;
    width: 115px;
    text-align: right;
    margin-right: 10px;
    vertical-align: bottom;
}


#search-bar{
    height:45px;
}
.container{
    width: 1200px;
}
.input-group input#search-bar {

}

.input-group input#Name {
    margin-right: 800px;
    height: 45px;
}
.input-group input#Production-year {
    margin-right: 800px;
    height: 45px;
}
.input-group input#Color {
    margin-right: 800px;
    height: 45px;
}
.input-group input#Price {
    margin-right: 800px;
    height: 45px;
}
.input-group input#Size {
    margin-right: 800px;
    height: 45px;
}

.custom-input {
    margin-right: 50px;
    width: 100%;
}

nav {
    height: 150px;
}

footer{
    height: 100px;
}