body{
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: black;
    background: white;
    margin: 5px;
}
#search-button{
    height:50px;
    width:90px;
    color:white;
    background: #0d6efd;
}
#home-button{
    color:#0d6efd;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
#search-bar{
    height:45px;
}
.container{
    width: 1200px;
    background: aquamarine;
}
.input-group input#name {
    margin-right: 800px;
}
.input-group input#Production-year {
    margin-right: 800px;
}
.input-group input#Color {
    margin-right: 800px;
}
.input-group input#Price {
    margin-right: 800px;
}
.input-group input#Size {
    margin-right: 800px;
}
.custom-input {
    margin-right: 50px;
    width: 100%;
}